<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Checkout</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Shopping cart</h1>
</div>
<div class="row">
    <div class="col-75">
        <div class="container">
            <div class="col-50">
                <h4>Cart
                    <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b th:text="${'Number of Item(s) : ' + numberOfProducts}">4</b>
        </span>
                </h4><br>
                <div th:each=" prod : ${cart}">
                    <p><a href="#" th:text="${prod.name}">Product 1</a>
                        <b><span th:text="${ '( '+cartHash.get(prod)+' )'+' * ' + prod.defaultPrice+ ' USD'}"> () </span></b>
                        <span class="price" th:text="${prod.defaultPrice * cartHash.get(prod)+' USD'}">$15</span>
                    </p>
                    <button type="submit" value="add">+</button>
                    <button type="submit" value="remove">-</button>
                </div>
                <hr>
            </div>
            <p>Total <span class="price" style="color:black" th:text="${sum + ' USD'}"><b>$30</b></span></p>
            <button type="button">Back to shop</button>
        </div>
    </div>
</div>
<div class="col-25">
    <input type="submit" value="Continue to checkout" class="btn" href="/payment">
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>