<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Checkout</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
</head>
<body>
<div class="jumbotron text-center">
    <img src="/static/img/codecoolshop.png">
</div>
<div class="row">
    <div class="col-75">
        <div class="container">
            <div class="col-50">
                <h4>Confirmation Successful</h4>
                <div class="cont" th:each="ord : ${order} ">
                    <br><strong
                        th:text="${'Thanks for the purchase and have a nice day '+ord.name +' .' }">Name</strong><br>
                </div>
                <strong th:text="${'Total Price: '+order.sumTotal()+' USD'}"></strong>
                <b><strong>Your order is being processed. Estimated to arrive 999days.</strong></b>
                <form action="/" method="get">
                    <button type="submit">Continue shopping</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>